@model IEnumerable<PracticeProject.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Book</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
           Book ID
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Author Name
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FullName)
        </td>
        <td>
            @if (item.ImageUrl != null)
            {
                <img src="~/photos/@item.ImageUrl" style="width:64px;" class="img-thumbnail"/>
            }
        </td>
         <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
         </td>
    </tr>
}
    </tbody>
</table>
